/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-09-17, 11:47:06
    Author     : kornel
*/
.menu-item {
    color: red;
    font-family: monospace;
    font-size:1.5em;
     
}
